In [2]:
import pandas as pd
from math import sqrt
import math
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

<hr>

<a id="ref2"></a>
# Preprocesado

In [2]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Lectura de Dataframe con todos los datos, generado por el notebook Data_agregation_and_management :

In [15]:
df = pd.read_csv(r'C:\Users\maria\Desktop\MasterBD\TFM\datos\df.csv',encoding='utf-8-sig', sep=';')

Quitamos columna unnamed

In [3]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [4]:
df.head()

,new_id,contador,Web,Título,Autor,Cabecera,Comentarios,Texto,Página,URL,...,cr_44990,cr_44991,cr_44992,cr_44993,cr_44994,cr_44995,cr_44996,cr_44997,cr_44998,cr_44999
0,gen_2_230720,1,El Confidencial,Detienen al director de una residencia por dro...,Europa Press,0,0.0,23/07/2020 10:22La Guardia Civil ha detenido a...,1,https://www.elconfidencial.com/espana/2020-07-...,...,NaN,NaN,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
1,gen_3_230720,1,El Confidencial,El Supremo revoca los permisos de Forcadell y ...,Pablo Gabilondo,0,4.0,23/07/2020 09:30 - ...,1,https://www.elconfidencial.com/espana/2020-07-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,gen_4_230720,1,El Confidencial,El 'efecto mariposa' del coronavirus: solo los...,Alberto Pérez Giménez,0,14.0,"23/07/2020 05:00Este jueves, desde las 10 y me...",1,https://www.elconfidencial.com/espana/2020-07-...,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
3,gen_5_230720,1,El Confidencial,Andalucía y Galicia se rebelan contra el fondo...,Víctor Romero. Valencia,0,16.0,23/07/2020 05:00Adelantado en Madrid y Cataluñ...,1,https://www.elconfidencial.com/espana/2020-07-...,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,gen_6_230720,1,El Confidencial,Los aliados del Gobierno dan un aviso para los...,Fernando Garea,0,14.0,23/07/2020 05:00Adelantado en Cuando aún caía ...,1,https://www.elconfidencial.com/espana/2020-07-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dataframe news_df

In [16]:
news_df =  df.filter(['new_id','Título'], axis=1)

In [18]:
news_df.to_csv(r'C:\Users\maria\Desktop\MasterBD\TFM\datos\news_df.csv',sep=';',encoding='utf-8-sig', index = True)

In [17]:
news_df.head()

         new_id                                             Título
0  gen_2_230720  Detienen al director de una residencia por dro...
1  gen_3_230720  El Supremo revoca los permisos de Forcadell y ...
2  gen_4_230720  El 'efecto mariposa' del coronavirus: solo los...
3  gen_5_230720  Andalucía y Galicia se rebelan contra el fondo...
4  gen_6_230720  Los aliados del Gobierno dan un aviso para los...

In [ ]:
news_df.describe()

### Dataframe ratings_df

Columnas clientes lectura

In [14]:
columnas_cl = []
for col in df.columns:
    if col.startswith('cl'):
        columnas_cl.append(col)

Rellenar valores nan de la columna lectura con 0.

In [23]:
for i in columnas_cl:
    df[i].fillna(0,inplace=True)

In [51]:
#Lista que conformará la columna new_id
newid_l = []
# ... columna user_id
user_l = []
# ... columna rating
rating_l =[]

for i in range(0,45000): 
    
    user = 'cl_'+ str(i)
    rating = 'cr_'+ str(i)
    c = 0 
    for j in df[user]:
        if j ==1:
            newid_l.append(df.loc[c,'new_id'])
            user_l.append(user)
            rating_l.append(df.loc[c,rating])
           
            c = c+1
        else: 
            c= c+1

In [52]:
ratings_df = pd.DataFrame(list(zip(user_l, newid_l,rating_l)), 
               columns =['user_id', 'new_id','rating'])

Se añade a ratings_df la columna suscr_new que contendrá una lista de las modalidades de suscripcion con las que se pueda acceder a la noticia.

Diccionario con las modalidades de suscripcion

In [11]:
suscr ={'gen':['alpha','beta','gamma','delta','omega'],'dep':['beta','delta','omega'],'eco':['gamma','delta','omega']}

In [ ]:
ratings_df=ratings_df[ratings_df['rating'].notna()]

In [ ]:
ratings_df['suscr_new']= ratings_df.apply(lambda x: suscr[x['new_id'][0:3]],axis=1)

Generar csv ratings_df

In [ ]:
ratings_df.to_csv(r'C:\Users\maria\Desktop\MasterBD\TFM\datos\ratings_dfS.csv',sep=';',encoding='utf-8-sig', index = True)

### Dataframe newsWeb_df

In [5]:
news_df = pd.read_csv(r'C:\Users\maria\Desktop\MasterBD\TFM\datos\news_df.csv',encoding='utf-8-sig', sep=';')

In [3]:
main_df = pd.read_csv(r'C:\Users\maria\Desktop\MasterBD\TFM\datos\main.csv',encoding='utf-8-sig', sep=';')

In [7]:
news = news_df.merge(main_df[['Web', 'new_id']], left_on='new_id', right_on='new_id', how='inner')

In [11]:
news

,new_id,Título,Web
0,gen_2_230720,Detienen al director de una residencia por dro...,El Confidencial
1,gen_3_230720,El Supremo revoca los permisos de Forcadell y ...,El Confidencial
2,gen_4_230720,El 'efecto mariposa' del coronavirus: solo los...,El Confidencial
3,gen_5_230720,Andalucía y Galicia se rebelan contra el fondo...,El Confidencial
4,gen_6_230720,Los aliados del Gobierno dan un aviso para los...,El Confidencial
...,...,...,...
4637,eco_802_300720,"Acciona recorta un 85,7% su beneficio por el C...",Expansión
4638,eco_803_300720,"Samsung ganó un 7,33% más en el segundo trimes...",Expansión
4639,eco_805_300720,Aena abre la puerta a retrasar los crecimiento...,Expansión
4640,eco_806_300720,El Gobierno de Madrid da marcha atrás en dos d...,Expansión
4641,eco_807_300720,Los Mossos desalojan a decenas de jóvenes que ...,Expansión

In [8]:
news.drop(news.columns[news.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [9]:
news.Web.unique()

array(['El Confidencial', 'El Mundo', 'El País', 'ABC', 'El Economista',
       'Marca', 'La Razón', 'Cinco Días', 'As', 'Expansión'], dtype=object)

In [9]:
newsWeb_df = news.copy()

#Para cada fila en el marco de datos, recorra la lista de géneros y coloque un 1 en la columna 
#correspondiente
for index, row in newsWeb_df.iterrows():
    newsWeb_df.at[index, row['Web']] = 1

newsWeb_df.head()

,new_id,Título,Web,El Confidencial,El Mundo,El País,ABC,El Economista,Marca,La Razón,Cinco Días,As,Expansión
0,gen_2_230720,Detienen al director de una residencia por dro...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,gen_3_230720,El Supremo revoca los permisos de Forcadell y ...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,gen_4_230720,El 'efecto mariposa' del coronavirus: solo los...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,gen_5_230720,Andalucía y Galicia se rebelan contra el fondo...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,gen_6_230720,Los aliados del Gobierno dan un aviso para los...,El Confidencial,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
newsWeb_df.to_csv(r'C:\Users\maria\Desktop\MasterBD\TFM\datos\newsWeb_df.csv',sep=';',encoding='utf-8-sig', index = True)